.pagination,
.button {
  font-weight: bold;
  font-size: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 1rem;
  color: white;
}

.button {
  background: transparent;
  color: white;
  border: none;
  font-size: 1.2rem;
  margin: 0 0.5rem 0 0.5rem;
  padding-top: 5px;
  outline: none;
}

.prev,
.button,
.next {
  cursor: pointer;
}

.prev *,
.next * {
  pointer-events: none;
}

.prev:hover,
.button:hover,
.next:hover {
  opacity: 0.7;
}

.invisible {
  /* display: none; */
  visibility: hidden;
}
/* 
.button:nth-child(2) {
  color: rgba(255, 99, 71, 0.842);
} */
